.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup .dialog {
    visibility: hidden;
}

.popup .dialog::after {
    content: "";
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.dialog {
    /* padding: 4%; */
    position: relative;
    top: 15%;
    left: 15%;
    height: 65%;
    width: 70%;
    border: 1px solid #ccc;
}

.dialogContent {
    padding: 3%;
}

.dialogContent p {
    padding: 5%;
}

.header {
    background-color: #0165a7;
    height: 15%;
    width: 100%;
    display: inline-block;
}

.headerContent {
    float: left;
    color: #fff;
    font-weight: 700;
}

.layer {
    padding: 25px;
    visibility: visible;
}

.layer::after {
    visibility: hidden;
}

.layer .hide {
    visibility: hidden;
}

.upperLayer {
    background-color: #eeedef;
    height: 25%;
}

.loweLayer {
    height: 75%;
}

.leftSide {
    width: 40%;
}

.rightSide {
    float: right;
    width: 60%;
    justify-content: center;
}

.leftContent {
    position: absolute;
    left: 15%;
    top: 20%;
    height: 45%;
    width: 25%;
    float: right;
    background-color: #d8d8d8;
}

.block {
    background-color: #d8d8d8;
    position: absolute;
    margin-left: 5%;
    margin-top: 18%;
    height: 15%;
    width: 15%;
}

.top {
    padding-top: 15%;
    padding-left: 25%;
    float: left;
}

.Details {
    height: 50%;
    width: 30%;
    float: left;
}